# Copyright 2021 The Bazel Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Triggers a new Github release via Github Actions
# (https://docs.github.com/en/actions/learn-github-actions/introduction-to-github-actions) and
# using Go releaser (https://github.com/goreleaser/goreleaser) whenever a new tag is created in this
# repository. The goal is to release pre-built binaries of the Go CLI tools hosted in this repo.
# See .goreleaser.yml for the Go releaser config.
name: goreleaser

# Trigger only when a new tag is created.
on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.25
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
